#new-whatsapp {
  margin: 10px;
  display: none;
}

#new-whatsapp.active{
  margin: 10px;
  display: block;
}

.gestion {
  /* max-height: 65px; */
  overflow: hidden;
  cursor: pointer;
  font-size: .9em;
  margin-bottom: 5px;
  border: 2px;
  border-radius: 10px;
  border-style: solid;
}

.gestion > div {
  margin-top: 2px;
  padding: 2px;
}

.gestion .name {
  font-size: 18px;
}

.gestion .img-user-dialogo {
  width: 50px;
  height: 50px;
  border-radius: 25px;
}

.gestion .img-logo-platform {
  position: relative;
  max-width: 60px;
}

.industrias-text{
  font-size: 12px;
  color: #7d56ce;
}

.campana-text{
  font-size: 10px;
  font-weight: bold;
  color: #0c30cf;
}

.gestion .time {
  margin-top: 5px;
  font-size: 10px;
}


/* =============================================================================
                            whatsapp
============================================================================== */
.gestion.whatsapp {
  /* background-color: #0cc2aa; */
  border-color: #0cc2aa;
}

.gestion.whatsapp .logo-platforms{
  position:absolute;
  bottom: 0px;
  left: 25px;
  width: 35px;
}

.gestion:hover{
  background: #316c9e ;
  color: #fff;
}

.gestion:hover .industrias-text{
  color: #fff;
}

/* =============================================================================
                            facebook
============================================================================== */
.gestion.facebook {
  /* background-color: #3498db; */
  border-color: #3498db;
}

.gestion.facebook .logo-platforms{
  position:absolute;
  bottom: -5px;
  left: 20px;
  width: 50px;
}

.gestion.facebook:hover{
  background: #316c9e ;
  color: #fff;
}
/* =============================================================================
                            phone
============================================================================== */
.gestion.phone {
  /* background-color: #816cfd; */
  border-color: #816cfd;
}

.gestion.phone .logo-platforms{
  position:absolute;
  bottom: 5px;
  left: 30px;
  width: 25px;
}

.gestion.phone:hover{
  background: #316c9e ;
  color: #fff;
}

/* =============================================================================
                            mensajes
============================================================================== */
.message-container{
  margin: 10px 0px;
}

.message-receive, .message-send{
    height: 50px;
    font-size: 16px;
    border-radius: 10px;
    min-width: 150px;
    max-width: 100%;
    display: table;
    font-family: 'Asap', sans-serif;
    padding:0px 12px ;
}

.message-send{
  padding: 5px;
  background: #435f7a;
  /* box-shadow: 0px 1px 0px 0px rgb(182, 182, 182); */
  min-width: 150px;
  color: #f5f5f5;
}

.message-receive{
  padding: 5px;
  background-color: #fff;
  /* box-shadow: 0px 1px 0px 0px rgb(182, 182, 182); */
  color:#2c3e50;
  min-width: 150px;
}

.image-message{
  cursor: pointer;
  position:relative;
  overflow: hidden;
  border-radius: 10px;
  max-width: 330px;
  /* max-height: 330px; */
  padding: 5px;
  background: #435f7a;
  color: #f5f5f5;
}

.image-message img {
  border-radius: 5px;
  max-width: 100%;
  margin-bottom: 5px;
  height: auto;
  overflow: hidden;
}

.message-receive .document-message .document-body{
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #eeeded;
}

.message-send .document-message .document-body{
  padding: 10px 5px;
  border-radius: 5px;
  background-color: #eeeded;
  color: #010407;
}

.document-message {
  min-width: 330px;
  max-width: 330px;
}

.document-message .document-body .media{
  width: 100%;
  margin: 5px 10px;
}

.document-message .document-body i {
  font-size: 20px;
}

.forward-message {
  min-width: 330px;
  max-width: 330px;
  color: #010407;
  padding: 5px;
  font-size: 0.875rem;
  background-color: #eeeded;
  border-left: 4px solid #1abc9c;
  border-bottom-right-radius: 8px;
  border-top-right-radius: 8px;
  border-bottom-left-radius: 8px;
  border-top-left-radius: 8px;
  box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}

.forward-message img{
  width: 90px;
  height: 90px;
}


.text-message{
    word-break: break-all;
    position:relative;
}
.time-message{
    font-size:10px;
    text-align:right;
}
.time-message-img{
    font-size: 10px;
    text-align: right;
    color: #f5f5f5;
    position: absolute;
    bottom: 0px;
    right: 0px;
    background: rgba(0,0,0,0.5);
    background: linear-gradient(0deg, rgba(73,73,73,1) 0%, rgba(212,207,207,0) 93%, rgba(255,255,255,0) 100%);
    color: white;
    width: 100%;
    padding: 0px 7px;
}
.name-send-message-img{
    padding: 0px 7px;
    overflow: hidden;
    position: absolute;
    background: rgba(0,0,0,0.5);
    background:linear-gradient(180deg, rgba(73,73,73,1) 0%, rgba(212,207,207,0) 90%, rgba(255,255,255,0) 100%);
    width: 100%;
    border-radius: 10px;
}

.image-message .image-send{
    height: 50px;
    border-radius: 10px;
    min-width: 150px;
    font-size: 14.2px;
    max-width: 100%;
    display: table;
    position:relative;
}

.image-send{
    background: #435f7a;
    color: #f5f5f5;
}
.image-receive{
    background: #f5f5f5;
    color: #2c3e50;
}

.sender-message-name{
    /* color:#8FC641; */
    color:#1ab394;
    font-size:12px;
}

.message-caption {
  margin-top: 10px;
  white-space: pre-line;
}



.audio-button{
    border: 2px solid;
    border-radius: 50px;
    padding: 0px;
    height: 40px;
    max-width: 40px;
    max-height: 40px;
    min-width: 40px;
    line-height: 35px;
    text-align: center;
}


.date-div{
    font-size: 0.9em;
    height: 30px;
    width: 200px;
    margin-left: 40%;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3px 10px;
    background:#ffffff;
    border-radius:50px;
}


/* =============================================================================
                            menu atachment
============================================================================== */

.btn-group-fab {
  position: absolute;
  width: 50px;
  height: auto;
}
.btn-group-fab div {
  position: relative;
  width: 100%;
  height: auto;
}
.btn-group-fab .btn {
  position: absolute;
  bottom: 0;
  border-radius: 50%;
  display: block;
  margin-bottom: 4px;
  width: 50px; height: 50px;
  color: #FFF;
}

.btn-group-fab .btn i{
  font-size: 20px;
}

.btn-group-fab .rounded-circle{
  display: none;
}

.btn-group-fab.active .rounded-circle:nth-child(1) {
  bottom: 10px;
  background: #f8538d;
  transition: all 2s linear;
  display: block;
}
.btn-group-fab.active .rounded-circle:nth-child(2) {
  bottom: 70px;
  background: #805dca;
  transition: all 2s linear;
  display: block;
}
.btn-group-fab.active .rounded-circle:nth-child(3) {
  bottom: 130px;
  background: #ff6f00;
  transition: all 2s linear;
  display: block;
}

.grabar-audio {
  height: 100%;
  padding: 5px;
}

.grabar-audio i {
  font-size: 25px;
}

.grabar-audio span {
  font-size: 20px;
}

.icono-envio{
  min-width: 30px;
}


.respuestas-rapidas {
  position: absolute;
  width: 100%;
  max-height: 200px;
}

.respuestas-rapidas div {
  position: relative;
  width: 90%;
  height: auto;
  overflow-y: auto;
  max-height: 100px;
  bottom: 80px;
  margin-left: 50px;
  display: none;
}

.respuestas-rapidas div.active {
  position: relative;
  width: 90%;
  height: auto;
  background-color:#dde2e6;
  overflow-y: auto;
  max-height: 100px;
  bottom: 100px;
  margin-left: 50px;
  display: block;
  padding: 10px;
  border-radius: 20px;
}