/* =============================================================================
                            NAV MAIN AGENT
============================================================================== */
#userProfileDropdown span.flaticon-user-12 {
  margin-top: 5px;
  font-size: 35px;
}

/* =============================================================================
                            TIME CONTROLS AGENT
============================================================================== */
#timeBar {
  background-color: #77d518;
  padding: 14px 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 15px;
}
#timers  div {
  display: inline;
}
#timers label {
  margin: 0;
}

#UserStatus {
  background-color: rgba(255,255,255,0.65);
  border-radius: 14px;
  border-top-left-radius: 50px;
  border-bottom-left-radius: 50px;
  padding: 7px 10px 9px 14px;
  margin-right: 10px;
}
#timersControls {
  margin-left: auto;
}
#timersControls .icon {
  margin-right: 4px;
  vertical-align: middle;
}

/* =============================================================================
                            SECCION GESTIONES
============================================================================== */
.fab-circle-p {
    font-size: 16px;
    padding: 5px;
}

.card-border-whatsapp {
  margin-bottom: 5px;
  border: 2px;
  border-radius: 10px;
  border-style: solid;
  border-color: #1abc9c;
}

.card-border-facebook {
  margin-bottom: 5px;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: #38a9ff;
}

.card-border-phone {
  margin-bottom: 5px;
  border: 1px;
  border-radius: 10px;
  border-style: solid;
  border-color: #805dca;
}

.custom-card .card-container .card-header {
    padding: 20px 0px 10px 20px;
    border-bottom: 1px solid #e9ecef;
}

.custom-card .card-container .card-header .media .custom-dropdown a.dropdown-toggle:hover {
    background-color: transparent;
}

.custom-card .card-container .card-header .media .media-body h6 {
    font-size: 19px;
    font-weight: 600;
    color: #1d1d1d;
}
.custom-card .card-container .card-header .media .media-body p {
    color: #6a6c86;
}
.custom-card .card-container .card-header .media i:not(.icon) {
    font-size: 17px;
    color: #888ea8;
    cursor: pointer;
}

.custom-card .card-body {
  padding: 0px;
}

#gestiones-agente {
  border: none;
  min-height: 50vh;
  max-height: 50vh;
}

#gestiones-cola {
  border: none;
  min-height: 40vh;
  max-height: 40vh;
}

/* =============================================================================
                            SECCION MEDIA
============================================================================== */
.card.post-editor .card-body ul.nav.nav-pills{
  float: right;
}

.card.post-editor .card-body ul.nav.nav-pills li a {
    padding: 23px;
    padding-right: 26px;
    color: #888ea8;
    border-right: none;
}
.card.post-editor .card-body ul.nav.nav-pills li a i {
    font-size: 22px;
    vertical-align: middle;
    margin-right: 7px;
}
.card.post-editor .card-body li.nav-item .nav-link.active,
.card.post-editor .card-body li.nav-item .show>.nav-link {
    background-color: transparent;
    color: #0081e6;
}
.card.post-editor .card-body div.tab-content { padding: 23px; }
.card.post-editor .card-body div.tab-content .tab-pane form .media img {
    border-radius: 50%;
    width: 50px;
}
.card.post-editor .card-body div.tab-content .tab-pane form .media .media-body .form-group textarea { border: none; }
.card.post-editor .card-body div.editor-bottom-section { padding: 20px 20px 10px 20px; }
.card.post-editor .card-body div.editor-bottom-section ul.editor-options li { margin-left: 10px; }
.card.post-editor .card-body div.editor-bottom-section ul.editor-options li i {
    font-size: 20px;
    color: #888ea8;
    vertical-align: -webkit-baseline-middle;
}
.post-section .card.post .card-body { padding: 0 }


/*  User Meta */
.card.post-editor .container { border-bottom: 1px solid #f1f3f1; }

.card.post-editor .media.user-meta { padding: 10px 0px 0px 10px; }
.card.post-editor .media.user-meta img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.card.post-editor .media.user-meta h4 {
    font-weight: 600;
    color: #232323;
    margin-top: 5px;
    margin-bottom: 3px;
    font-size: 1.125rem;
}



/* 	gestion system	*/

#gestion-system {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  z-index: 2;
  border-bottom: solid 1px #ff9a44;
  display: none;
}
#gestion-system.active {
  width: 100%;
  margin-bottom: 10px;
  padding: 10px;
  position: relative;
  z-index: 2;
  border-bottom: solid 1px #ff9a44;
  display: block;
}
#guardar-gestion {
  display: none;
}
#guardar-gestion.active {
  display: inline-block;
}
/* =============================================================================
                            SECCION PRODUCTOS
============================================================================== */
#gestion-system {
  display: none;
}
#gestion-system.active {
  display: block;
}

#chat-system {
  display: none;
}
#chat-system.active {
  display: block;
}

#phone-system {
  display: none;
}
#phone-system.active {
  display: block;
}



#main-right-col {
  padding-left: 5px;
  padding-right: 5px;
  display: none;
}
#main-right-col.active {
  display: block;
}

#catalogo {
  border: none;
  min-height: 100vh;
  max-height: 100vh;
}

.img-catalogo {
  min-width: 120px;
  max-width: 120px;
  border-radius: 5px;
  /* height: auto; */
  max-height: 120px;
}

.tab-content .media {
  cursor: pointer;
}

/*
    Underline
*/

.underline-content .nav-tabs { border-bottom: 1px solid #eef2f8; }
.underline-content .nav-tabs li a {
    padding-top: 15px;
    padding-bottom: 15px;
}
.underline-content .nav-tabs .nav-link.active, .underline-content .nav-tabs .show>.nav-link {
    border-color: transparent;
    border-bottom: 1px solid #6156ce;
    color: #6156ce;
    background-color: transparent;
}
.underline-content .nav-tabs .nav-link.active:hover, .underline-content .nav-tabs .show>.nav-link:hover,
.underline-content .nav-tabs .nav-link.active:focus, .underline-content .nav-tabs .show>.nav-link:focus {
    border-bottom: 1px solid #6156ce;
}
.underline-content .nav-tabs .nav-link:focus,
.underline-content .nav-tabs .nav-link:hover {
    border-color: transparent;
}


#product ul li {
    min-width: 100%;
    padding: 10px;
        box-shadow: 0px 0px 5px 0px rgba(113, 106, 202, 0.2);
    background-color: #fff;
    border-radius: 4px;
    -webkit-transition: -webkit-transform .1s ease;
    -moz-transition: -webkit-transform .1s ease;
    -o-transition: -webkit-transform .1s ease;
    -ms-transition: -webkit-transform .1s ease;
    transition: transform .1s ease;
}

#product ul li a .media img {
	width: 45px;
	border-radius: 6px;
}

#product ul li:hover {
    background-color: #f1f3f9;
}

#product.active ul li {
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=40)";
    filter: alpha(opacity = 40);
    opacity: .4;
}


#product.active ul li.active {
    z-index: 2;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
    filter: alpha(opacity = 100);
    opacity: 1;
    -webkit-transform-origin: 50% 50%;
    -moz-transform-origin: 50% 50%;
    -o-transform-origin: 50% 50%;
    -ms-transform-origin: 50% 50%;
    transform-origin: 50% 50%;
    -webkit-transform: scale(.6);
    -moz-transform: scale(.6);
    -o-transform: scale(.6);
    -ms-transform: scale(.6);
    transform: scale(.6);
}
#product.active ul li a .media img {
	width: 57px;
	border-radius: 50%;
}
#product ul li a {
    display: block;
    color: #3b3f5c;
}

#product ul li a h3 {
    margin-top: 5px;
}

#product ul li a h5 {
    font-size: 15px;
    font-weight: 600
}
#product ul li a p.cat {
	font-size: 12px
}


/*   Product Image     */

.product-detail-1 .product-slider a.product-image { text-align: center; }
.product-detail-1 .product-slider a.product-image div.preview-pic {
    background-color: #fff;
    height: 350px;
    padding: 15px;
}

/* .product-detail-1 .product-slider a.product-image div.preview-pic img{
    border-radius: 5%;
} */

.product-detail-1 .product-slider ul.preview-thumbnail {
    margin-top: 15px;
    border-width: initial;
    border-style: none;
    border-color: initial;
    border-image: initial;
}
.product-detail-1 .product-slider ul.preview-thumbnail li {
    margin-right: 1.5%;
    background-color: rgb(255, 255, 255);
    text-align: center;
    border: 1px solid #f1f3f1;
    padding: 5px;
}
.product-detail-1 .product-slider ul.preview-thumbnail li a { padding: 5px; }
.product-detail-1 .product-slider ul.preview-thumbnail li a img { height: 90px; }


/*  Product Detailing   */

.product-detail-1 .product-detailing .product-name {
    line-height: 1.3;
    color: #3b3f5c;
}
.product-detail-1 .product-detailing .product-rating .star-rating {
    letter-spacing: .0625rem;
    color: #f1c40f;
}
.product-detail-1 .product-detailing .product-rating .star-rating i:hover { cursor: pointer; }
.product-detail-1 .product-detailing .product-rating a {
    color: #888ea8;
    font-size: 14px;
}
.product-detail-1 .product-detailing .product-price {
    font-size: 2rem;
    color: #3b3f5c;
}
.product-detail-1 .product-detailing .product-description p { margin-bottom: 27px; }
.product-detail-1 .product-detailing .product-attribute-select { margin-bottom: 11px; }
.product-detail-1 .product-detailing .product-attribute-select div input,
.product-detail-1 .product-detailing .product-attribute-select div select {
    border: 1px solid #d5dae2;
    border-radius: 4px;
}
.product-detail-1 .product-detailing hr {
    border-color: #e9ecef;
    margin-top: 38px !important;
}
.product-detail-1 .product-detailing .product-btn-cart a {
    border-radius: 30px;
    background-color: #3232b7;
    border: solid 1px #ffffff;
}
.product-detail-1 .product-detailing .info-list > li {
    table-layout: fixed;
    padding: 1px 0;
    display: table;
}
.product-detail-1 .product-detailing .info-list > li .info-list-title {
    min-width: 108px;
    display: table-cell;
    font-weight: 600;
    color: #ff5938;
    text-transform: uppercase;
}
.product-detail-1 .product-detailing .info-list > li .info-list-text {
    color: #888ea8;
    font-weight: 600;
}
.product-detail-1 .product-detailing .info-list > li .info-list-text a {
    color: #888ea8;
    font-weight: 600;
}
.product-detail-1 .product-detailing .info-list.social-icons li .info-list-title {
    color: #000;
    font-size: 18px;
}
.product-detail-1 .product-detailing .info-list  li i {
    color: #000;
    font-size: 20px;
    cursor: pointer;
}


/*  Product breif description   */

.product-detail-1 .product-breif-description {
    margin-top: 180px;
    padding: 20px;
    border: solid 1px #f1f3f1;
}
.product-detail-1 .product-breif-description a.nav-link {
    border-radius: 20px;
    color: #000;
}
.product-detail-1 .product-breif-description a.nav-link.active {
    color: #fff;
    background-color: #3232b7;
}
.product-detail-1 .product-breif-description .tab-content h3 {
    color: #ee3d50;
    font-size: 1.5rem;
}
.product-detail-1 .product-breif-description .tab-content p {
    color: #000;
    margin-top: 18px;
}
.product-detail-1 .related-products .container { max-width: 1800px; padding: 0; }
.product-detail-1 .related-products { margin-top: 150px }
.product-detail-1 .related-products h3 {
    color: #000;
    font-size: 1.5rem;
}
.product-detail-1 .related-products p { color: #000; }
.product-detail-1 .related-products .product-cat6 .card {
    height: 473px;
    border: none;
    box-shadow: 0px 0px 20px 2px #e9ecef;
}
.product-detail-1 .related-products .product-cat6 img {
    width: 100%;
    height: 270px;
}
.product-detail-1 .related-products .product-cat6 span.badge.badge-success {
    position: absolute;
    background-color: #e00750;
    margin-left: 5px;
    height: 30px;
    width: 40px;
    text-align: center;
    padding: 7px 7px;
    margin-top: 5px;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.3);
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.product-detail-1 .related-products .product-cat6 span.badge.badge-primary {
    position: absolute;
    margin-left: 5px;
    height: 30px;
    width: 40px;
    text-align: center;
    padding: 7px 7px;
    margin-top: 5px;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.3);
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.product-detail-1 .related-products .product-cat6 h4.card-title {
    color: #3b3f5c;
    font-weight: 600;
    font-size: 18px;
    margin-top: 33px;
}
.product-detail-1 .related-products .product-cat6 p.card-text {
    color: #ee3d50;
    font-size: 20px;
}
.product-detail-1 .related-products .product-cat6 button.btn {
    background-color: #25d5e4;
    border-radius: 20px;
    color: #ffffff;
    box-shadow: none;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.product-detail-1 .related-products .product-cat6 .card-bottom-section {
    position: absolute;
    right: 0;
    bottom: 16px;
}
.product-detail-1 .related-products .product-cat6 .product-sizes p {
    width: 30px;
    padding: 5px;
}
.product-detail-1 .related-products .product-cat6 .product-sizes p:hover {
    color: #fff;
    background-color: #f28b21;
    border-radius: 50%;
}
.product-detail-1 .related-products .product-cat6 button.btn:hover {
    border: 1px solid transparent;
    padding: 0.5rem 1.375rem;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.1);
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}

/*      Procut-catalog 6 Hover  */

.product-detail-1 .related-products .product-cat6:hover button.btn {
    background-color: #ff3743;
    color: #fff;
}
@media (max-width: 575px) {
    .product-detail-1 .product-slider ul.preview-thumbnail li { width: 48%; }
}

/*
========================
    Mail Chat System
========================
*/

.mail-chat-system {
    border: none;
}

.mail-chat-system h4 {
    margin: 0;
    margin-bottom: 40px;
    color: #3232b7;
    font-weight: 600;
    font-size: 15px;
}
#gestion-menu {
    padding-bottom: 26px;
}
#gestion-menu .add-chat button i {
    font-size: 16px;
    margin-right: 6px;
}
#gestion-menu .options {
    display: inline-block;
    cursor: pointer;
}
#gestion-menu .options i {
    font-size: 20px;
    padding: 8px;
    color: #fff;
    background-image: linear-gradient(to top, #f77062 0%, #fe5196 100%);
    background-color: #fe5196;
    border-radius: 50%;
    margin-left: 12px;
    vertical-align: middle;
}
#gestion-menu .options i:hover {
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.2);
}

#registro_mensajes {
  background-image: url("/static/truecontact/truecontact/img/pattern.jpg");
  padding: 20px 10px 0px;
}

.mail-chat-system .chat-messages {
  background-image: url("/static/truecontact/truecontact/img/pattern.jpg");
  position: relative;
  height: 80vh;
  overflow-y: scroll;
  list-style: none;
  padding: 20px 10px 0px;
  margin: 0px;
}
.mail-chat-system .chat-messages .message.left {
    position: relative;
}
.mail-chat-system .chat-messages .message.left .text {
    margin-left: 38px;
    background-color: #f1f3f9;
    color: #000;
    border-radius: 1.875rem !important;
    border-top-left-radius: 0px !important;
    padding: 12px;
    margin-top: 65px;
    margin-bottom: 65px;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}
.mail-chat-system .chat-messages .message.left .avatar {
    position: absolute;
    top: -50px;
    left: 12px;
    border-radius: 50%;
    background-image: url(../../../assets/img/90x90.jpg);
    float: left;
    background-repeat: no-repeat;
    background-size: cover;
    height: 44px;
    width: 44px;
}
.mail-chat-system .chat-messages .message.right {
    position: relative;
}
.mail-chat-system .chat-messages .message.right .text {
    margin-right: 38px;
    background-color: #816cfd;
    color: #fff;
    border-radius: 1.875rem !important;
    border-top-right-radius: 0px !important;
    padding: 12px;
    margin-top: 16px;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}
.mail-chat-system .chat-messages .message.right .avatar {
    position: absolute;
    float: right;
    background-image: url(../../../assets/img/90x90.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    right: 22px;
    top: -50px;
    height: 44px;
    width: 44px;
    border-radius: 50%;
}
.mail-chat-system .chat-bottom-section {
    width: 100%;
    background-color: rgb(255, 255, 255);
    position: relative;
    bottom: 0px;
    margin-top: 75px;
}
.mail-chat-system .chat-bottom-section .message_input_wrapper {
    background-color: #fff;
}
.mail-chat-system .chat-bottom-section .message_input_wrapper .input-group-prepend>.input-group-text {
    background-color: #f1f3f9;
    padding: 4px;
    border: none;
    font-size: 20px;
    cursor: pointer;
}
.mail-chat-system .chat-bottom-section .message_input_wrapper .input-group-prepend>.input-group-text i {
    color: #888ea8;
    font-size: 18px;
}
.mail-chat-system .chat-bottom-section .message_input_wrapper .input-group-append>.input-group-text {
    background-image: linear-gradient(to right, #f78ca0 0%, #f9748f 19%, #fd868c 60%, #fe9a8b 100%);
    padding: 12px;
    border: none;
    color: #fff;
    border-bottom-right-radius: 4px !important;
    border-top-right-radius: 4px !important;
}
.mail-chat-system .chat-bottom-section .message_input_wrapper .message_input {
    border: none;
    background-color: #f1f3f0;
}
.mail-chat-system .chat-bottom-section .message_input_wrapper .message_input::-webkit-input-placeholder {
    color: #888ea8;
    font-size: 14px;
    text-align: center;
}
.mail-chat-system .chat-bottom-section .message_input_wrapper .message_input::-ms-input-placeholder {
    color: #888ea8;
    font-size: 14px;
    text-align: center;
}
.mail-chat-system .chat-bottom-section .message_input_wrapper .message_input::-moz-placeholder {
    color: #888ea8;
    font-size: 14px;
    text-align: center;
}
.mail-chat-system .chat-messages::-moz-scrollbar {
    width: 6px;
    height: 6px;
}
.mail-chat-system .chat-messages::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}
.mail-chat-system .chat-messages::-moz-scrollbar-button:start:decrement,
.mail-chat-system .chat-messages::-moz-scrollbar-button:start:decrement {
    height: 0px;
    display: block;
    background-color: #e9ecef;
}
.mail-chat-system .chat-messages::-webkit-scrollbar-button:start:decrement,
.mail-chat-system .chat-messages::-webkit-scrollbar-button:end:increment {
    height: 0px;
    display: block;
    background-color: #e9ecef;
}
.mail-chat-system .chat-messages::-moz-scrollbar-track-piece {
    background-color: transparent;          /*Global Track Peice(the slider noob.)*/
}
.mail-chat-system .chat-messages::-webkit-scrollbar-track-piece {
    background-color: transparent;          /*Global Track Peice(the slider noob.)*/
    -webkit-border-radius: 6px;
}
.mail-chat-system .chat-messages::-moz-scrollbar-thumb:vertical {
    height: 6px;
    background-color: #e9ecef;            /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}
.mail-chat-system .chat-messages::-webkit-scrollbar-thumb:vertical {
    height: 6px;
    background-color: #e9ecef;            /* Up/Down slider background*/
    -webkit-border-radius: 6px;
}
.mail-chat-system .chat-messages::-moz-scrollbar-thumb:horizontal {
    width: 6px;
    background-color: #e9ecef;            /* Side/Side slider background*/
    -webkit-border-radius: 3px;
}
.mail-chat-system .chat-messages::-webkit-scrollbar-thumb:horizontal {
    width: 6px;
    background-color: #e9ecef;            /* Side/Side slider background*/
    -webkit-border-radius: 3px;
}

/* =============================================================================
                            CONTACT SECCION
============================================================================== */
.contact-1 {
    position: relative;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
    border-radius: 6px;
    padding: 8px 0;
}
.contact-1 .card-top-section .dropdown.show .dropdown-toggle i,
.contact-1 .card-top-section .dropdown .dropdown-toggle i:hover { color: #e95f2b; }
.contact-1 .card-top-section .dropdown .dropdown-menu {
    min-width: 10rem;
    border-radius: 6px;
}
.contact-1 .card-top-section .dropdown .dropdown-menu a {
    font-size: 12px;
    color: #3b3f5c;
    display: block;
    font-weight: 600;
}
.contact-1 .card-top-section .dropdown .dropdown-menu a .dropdown-item.active,
.contact-1 .card-top-section .dropdown .dropdown-menu a.dropdown-item:active,
.contact-1 .card-top-section .dropdown .dropdown-menu a.dropdown-item:hover {
    color: #e95f2b;
    background-color: transparent;
}
.contact-1 .card-mid-section { border-bottom: 1px solid #e9ecef; }
.contact-1 .card-mid-section .usr-profile {
    position: relative;
    width: 90px;
    height: 90px;
}
.contact-1 .card-mid-section .usr-profile .badge {
    position: absolute;
    height: 20px;
    width: 20px;
    border-radius: 50%;
    /* background-image: linear-gradient(to right, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%); */
    bottom: 5px;
    right: 6px;
}
.contact-1 .card-mid-section .usr-profile img {
    width: 100%;
    height: 100%;
    box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.2);
}
.contact-1 .card-mid-section .team-content h4 {
    color: #282b40;
    font-weight: 600;
    font-size: 20px;
}
.contact-1 .card-mid-section .team-content span {
    font-size: 10px;
    text-transform: uppercase;
    color: #888ea8;
}
.contact-1 .card-mid-section .team-content p {
    color: #515365;
    font-size: 12px;
}
.contact-1 .card-mid-section .team-content button.btn {
    font-size: 12px;
    padding: 5px 12px;
}
.contact-1 .card-bottom-section .accion-buttons ul li i {
    padding: 12px;
    border-radius: 50%;
    font-size: 19px;
    color: #fff;
    letter-spacing: 0;
    min-width: 43px;
    cursor: pointer;
}
.contact-1 .card-bottom-section .accion-buttons ul li i.action-button-phone {
    background-image: linear-gradient(to top, #b8cbb8 0%, #b8cbb8 0%, #b465da 0%, #cf6cc9 33%, #ee609c 66%, #ee609c 100%);
}
.contact-1 .card-bottom-section .accion-buttons ul li i.action-button-whatsapp {
    background-image: linear-gradient(to right, #25d366 0%, #17bf56 33%, #128c7e 100%);
}
.contact-1 .card-bottom-section .accion-buttons ul li i.action-button-facebook {
    background-image: linear-gradient(to bottom, #728dc9 0%, #3b5998 100%);
}
.contact-1 .card-bottom-section .accion-buttons ul li .social-counts h6 {
    color: #3b3f5c;
    font-weight: 600;
}
.contact-1 .card-bottom-section .accion-buttons ul li .social-counts p {
    font-size: 11px;
    color: #888ea8;
}


/* =============================================================================
                            MODAL CONTACTO
============================================================================== */
#contacto-general .info { padding: 20px; }
#contacto-general .info .upload { border-right: 1px solid #e6ecf5; }
#contacto-general .info .upload p {
    font-size: 14px;
    font-weight: 600;
    color: #3862f5;
}
#contacto-general .info .upload p i {
    font-size: 22px;
    color: #3862f5;
    vertical-align: middle;
}
#contacto-general .info label {
    color: #816cfd;
}

.overflow-custom-screen {
  max-height: 70vh;
  overflow-y: scroll;
}

.info-contacto {
  background-color: #e6e6e6;
  padding: 10px;
  border-radius: 10px;
  color: black;
}

/* #contacto-general .info input::-webkit-input-placeholder {
    color: #515365;
    font-size: 14px;
}
#contacto-general .info input::-ms-input-placeholder {
    color: #515365;
    font-size: 14px;
}
#contacto-general .info input::-moz-placeholder {
    color: #515365;
    font-size: 14px; */
}
/*
    Image upload
*/
/* #contacto-general .info .dropify-wrapper {
    width: 200px;
    height: 200px;
    border: none;
    border-radius: 6px;
}
#contacto-general .info .dropify-wrapper .dropify-preview {
    background-color: #FFF;
    padding: 0;
}
#contacto-general .info .dropify-wrapper .dropify-clear {
    font-size: 16px;
    padding: 4px 8px;
    color: #FFF;
    border: none;
} */
/* #contacto-general .info .dropify-wrapper .dropify-clear:hover { background-color: transparent; }
#contacto-general .info .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message { padding-top: 27px; }
#contacto-general .info .dropify-wrapper .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-infos-message::before {
    content: '\f1a8';
    font-family: flaticon;
    position: absolute;
    top: -1px;
    left: 38%;
    color: #fff;
    -webkit-transform: translate(-50%,0);
    transform: translate(-50%,0);
    background: transparent;
    width: 0;
    height: 0;
    font-size: 28px;
} */
/* #contacto-general .info .dropify-wrapper.touch-fallback { border: 1px solid #e9ecef; }
#contacto-general .info .dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner { padding: 0; }
#contacto-general .info .dropify-wrapper.touch-fallback .dropify-clear { color: #4f5163; }
#contacto-general .info .dropify-wrapper.touch-fallback .dropify-preview .dropify-infos .dropify-infos-inner p.dropify-filename { margin-top: 10px; } */
