/* .align-text-bottom{
    vertical-align: text-bottom;
} */

/* .align-bottom {
    vertical-align:bottom;
} */

/* Consola de WhatsAPP */
#console-chat {
    position: fixed;
    right: 0px;
    bottom: 0px;
    max-width: 400px;
    margin-right: -400px;
    height: 90%;
    z-index: 2;
    -webkit-transition: 0.3s;
    transition: 0.3s;
}

#console-chat .active {
    max-width: 400px;
    margin-right: 0px;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
}

  #console-chat .border {
    width: 400px;
    height: 100%;
    max-width: 400px;
    z-index: 3;
    display:flex;
    border-radius:5px 0px 0px 5px;
  }

  #chat {
    background-color:rgb(89, 92, 91);
    width: 100%;
    height: 100%;
    position: relative;
    overflow: auto;
  }

  #new-chat-div {
    width: 100%;
    background-color:#32465a;
    padding: 10px;
    position: absolute;
    z-index: 3;
    border: solid 1px whitesmoke;
    display: none;
  }

  #new-chat-div.active {
    width: 100%;
    background-color:#32465a;
    padding: 10px;
    position: absolute;
    z-index: 3;
    border: solid 1px whitesmoke;
    display: block;
  }

#buscar_chat_div {
    width: 100%;
    background-color:#32465a;
    padding: 10px;
    position: absolute;
    z-index: 3;
    border: solid 1px whitesmoke;
    display: none;
}

#buscar_chat_div.active {
    width: 100%;
    background-color:#32465a;
    padding: 10px;
    position: absolute;
    z-index: 3;
    border: solid 1px whitesmoke;
    display: block;
}

  #chat-conversacion {
    background-image: url('/static/truecontact/truecontact/img/pattern.jpg');
    background-color:rgba(244,243,243,0.7);
    width: 100%;
    height: 100%;
    position: relative;
    margin-right:-100%;"
  }

  #attach-area {
    height: 100%;
    background: rgba(0,0,0,0.7);
    position: absolute;
    width: 100%;
    z-index: 3;
    top:100%;
    display: none;
  }

  #contenido-envio {
    margin: 0 auto;
    width: 70%;
    overflow: hidden;
    padding-top: 10%;
  }

  #titulo-adjunto-div {
    font-size: 16px;
    color: white;
    font-weight: 400;
    text-align: center;
  }


  /*
  Botones y pestañas
  */
  .btn-tag-right{
      position: absolute;
  }

  #btn-phone{
      margin-top: 90px;
      left: -40px;
  }

  #btn-chat{
      margin-top: 60px;
      left: -40px;
  }

  .btn-tag{
      border-radius: 25px 0 0 25px;
  }

  /* #UserStatus{
      display: inline-block;
      padding: 6px 12px;
      margin-bottom: 0;
      font-size: 14px;
      font-weight: 400;
      line-height: 1.42857143;
      text-align: center;
      white-space: nowrap;
      vertical-align: middle;
      background: #ECE9E9;
  } */

  .rounded-circle{
      border-radius: 50%;
      overflow: hidden;
  }


  /*
  paleta de colores para la aplicación
  */
  .dark-gray-bg{
      background-color: #D4D4D4;
  }
  .font-awesome-bg{
      color:#707070;
  }
  .bg-warning{
      background-color: #f8ac59;;
  }
  .bg-primary{
      background-color: #1ab394;
  }

  /*
  estilo para el texto
  */
  /* .font-weight-light{
      font-weight:300!important
  }
  .font-weight-lighter{
      font-weight:lighter!important
  }
  .font-weight-normal{
      font-weight:400!important
  }
  .font-weight-bold{
      font-weight:700!important
  }
  .font-weight-bolder{
      font-weight:bolder!important
  } */

/*

  .p-l-1{
      padding-left: 1rem;
  }
  .p-t-1{
      padding-top: 1rem;
  }
  .p-b-1{
      padding-bottom: 1rem;
  }
  .p-r-1{
      padding-right: 1rem;
  }

  .p-xs{
      padding:0.5rem;
  }
   */

  /*
  *******************************************
  Css del archivo chat.css
  *******************************************
  */
  .hidden{
      display: none;
  }

  #status-nav{
      z-index:0;
  }
  .content-wrapper{
      overflow-x: hidden;
      position: relative;
  }

  #tab-chat{
      height: calc(100% - 135px);
      max-height: 100%;
      overflow-y: scroll;
      overflow-x: hidden;
      width: 100%;
      padding: 0px;
  }

  #main-content, #nuevo-content{
      width:100%;
      padding: 0px;
      min-height: calc(100% - 100px);
      max-height: calc(100% - 100px);
      height: 100%;
      overflow-y: auto;
      /* padding-top: 60px; */
  }
  #main-content::-webkit-scrollbar, #nuevo-content::-webkit-scrollbar,
  #tab-chat::-webkit-scrollbar, #input-message::-webkit-scrollbar {
      width: 9px;
  }
  #main-content::-webkit-scrollbar-track,#nuevo-content::-webkit-scrollbar-track,
  #tab-chat::-webkit-scrollbar-track,#input-message::-webkit-scrollbar-track{
      -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
      border-radius: 10px;
      background-color: white;
      display: none;
  }
  #main-content::-webkit-scrollbar-thumb,#nuevo-content::-webkit-scrollbar-thumb,
  #tab-chat::-webkit-scrollbar-thumb,#input-message::-webkit-scrollbar-thumb{
      background: #ECEEEA;
      max-height: 20px;
      height: 20px;
  }

  .chat-dialogos{
      /* border-bottom:1px solid #ECEEEA; */
      max-height:65px;
      overflow:hidden;
      cursor: pointer;
      font-size: .9em;
      color:#fff;
  }

  .chat-dialogos:hover{
    background: #32465a ;
  }

  .chat-dialogos > div{
      height:100% ;
      margin:0px auto;
      padding:5px 6px;
  }

  .img-logo-platform
  {
      position: relative;
      max-width: 60px;
  }

  .logo-platforms{
      position:absolute;
      bottom:0px;
      right:0px;
  }

  .img-logo{
      height: 52px;
      width : 52px;
      margin: 0 auto;
      border-radius:50%;
      background-color: #ffffff;
      overflow: hidden;
      /* border:solid #00BE57 2px; */
      position: relative;
  }
  /*
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::
  :: inicio de los estilos para los globos de mensajes ::
  :::::::::::::::::::::::::::::::::::::::::::::::::::::::
  */
  #no-chat{
      background-color: rgb(245,245,245);
      text-align: center;
      padding: 10%;
      height: 100%;
      position: absolute;
      z-index: 10;
      width: 100%;
  }

  #no-chat h1{
      font-size: 2em;
      color:#73D3A0;
  }

  #logo-no-chat{
      display: block;
      margin: 10% auto 20px auto;
  }
  .message-receive, .message-send{
      height: 50px;
      font-size: 14.2px;
      border-radius: 10px;
      min-width: 150px;
      max-width: 100%;
      display: table;
      font-family: 'Asap', sans-serif;
      padding:0px 12px ;
  }

  .message-send{
      background: #435f7a;
      box-shadow: 0px 1px 0px 0px rgb(182, 182, 182);
      min-width: 150px;
      color: #f5f5f5;
  }

  .message-receive{
      background-color: #fff;
      box-shadow: 0px 1px 0px 0px rgb(182, 182, 182);
      color:#2c3e50;
      min-width: 150px;
      position:relative;
  }

  .image-message{
      position:relative;
      overflow: hidden;
      border-radius: 10px;
      max-width: 330px;
      max-height: 330px;
  }

  .text-message{
      word-break: break-all;
      position:relative;
  }

  .time-message{
      font-size:10px;
      text-align:right;
  }

  .time-message-img{
      font-size: 10px;
      text-align: right;
      color: #f5f5f5;
      position: absolute;
      bottom: 0px;
      right: 0px;
      background: rgba(0,0,0,0.5);
      background: linear-gradient(0deg, rgba(73,73,73,1) 0%, rgba(212,207,207,0) 93%, rgba(255,255,255,0) 100%);
      color: white;
      width: 100%;
      padding: 0px 7px;
  }

  .name-send-message-img{
      padding: 0px 7px;
      overflow: hidden;
      position: absolute;
      background: rgba(0,0,0,0.5);
      background:linear-gradient(180deg, rgba(73,73,73,1) 0%, rgba(212,207,207,0) 90%, rgba(255,255,255,0) 100%);
      width: 100%;
  }

  .message-container{
      margin:4px 0px;
  }

  .image-message,.image-send{
      height: 50px;
      border-radius: 10px;
      min-width: 150px;
      font-size: 14.2px;
      max-width: 100%;
      display: table;
      position:relative;
  }

  .image-send{
      background: #435f7a;
      color: #f5f5f5;
  }

  .image-receive{
      background: #f5f5f5;
      color: #2c3e50;
  }

  .sender-message-name{
      /* color:#8FC641; */
      color:#1ab394;
      font-size:12px;
  }

  .audio-button{
      border: 2px solid;
      border-radius: 50px;
      padding: 0px;
      height: 40px;
      max-width: 40px;
      max-height: 40px;
      min-width: 40px;
      line-height: 35px;
      text-align: center;
  }


  .date-div{
      font-size: 0.9em;
      height: 30px;
      width: 200px;
      margin-left: 40%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 3px 10px;
      background:#ffffff;
      border-radius:50px;
  }
  /*
  ::::::::::::::::::::::::::::::::::::::::::::::::::::
  :: Fin de los estilos para los globos de mensajes ::
  ::::::::::::::::::::::::::::::::::::::::::::::::::::
  */
  #message-type{
      height: 40px;
      background: #32465a;
      display: flex;
  }

  .message-type-buttom{
      display: inline-block;
      height: 100%;
      margin: 0px;
      text-align: center;
      width: 50%;
      line-height: 40px;
      cursor: pointer;
      color:#fff;
  }

  .message-type-buttom.active{
      background-color:#17334F;
  }

  #multi-collapse{
      position: absolute;
      width: 100%;
      background:  #f5f5f5;
      border-right: 1px solid rgb(236, 238, 234);
      padding: 0px;
      min-height: 100%;
      display: flex;
      height: 100%;
      margin-right: -100%;
      color:white;
      background-color: #2c3e50;
      z-index: 2;
      overflow-x: hidden;
  }

  #attachment{
      display:none;
      max-width: 40px;
      position: absolute;
      z-index: 2;
      left: 0px;
      top: 60px
  }

  #attachment > input {
      width: 0.1px;
      height: 0.1px;
      opacity: 0;
      overflow: hidden;
      position: absolute;
      z-index: -1;
  }

  #attachment > label{
      width: 40px;
      height: 40px;
      margin: 5px;
      border-radius: 50%;
      text-align: center;
      line-height: 40px;
      color: white;
      border:none;
  }

  .icon-interac{
      display:inline-block;
      text-align: center;
      width: 20px;
      max-width:20px;
      /* font-size: 25px; */
      /* color: #AEAEAE; */
  }

  #input-message:focus{
      border: none!important;
      outline: 0px;
      box-shadow:none;
  }

  #input-message{
      font-size: 15px;
      max-height: 100px;
      overflow-y: auto;
      max-width: 100%;
      overflow-x: hidden;
  }

  #input-message:empty:before {
      content: attr(placeholder);
      color:rgb(168, 167, 167);
  }

  #message-box{
      background-color: white;
      padding: 10px 15px;
      border-radius: 30px;
      border: 1px solid #e7eaec;
      outline: 0px;
      box-shadow: none;
  }

  /*
  ###########################################
  Estilos rescatados de bootstrap 4.3
  ###########################################
  */
  .justify-content-end{
      -ms-flex-pack:end!important;
      justify-content:flex-end!important
  }
  .justify-content-center{
      -ms-flex-pack:center!important;
      justify-content:center!important
  }
  .justify-content-between{
      -ms-flex-pack:justify!important;
      justify-content:space-between!important
  }
  .justify-content-around{
      -ms-flex-pack:distribute!important;
      justify-content:space-around!important
  }
  .border{
      border:1px solid #dee2e6!important
  }
  .d-flex{
      display:-ms-flexbox!important;
      display:flex!important
  }


  /*
  ##################################
  #[estilo recatado de omnileads]#
  ##################################
  */

  #wrapperWebphone {
    min-width: 300px;
    max-width: 300px;
    margin-right: -300px;
    background: #FFFFFF;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    position: absolute;
    right: 0px;
}

#wrapperWebphone.active {
    min-width: 300px;
    max-width: 300px;
    margin-right: 0;
    display: block;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    z-index: 2;
}
.webphone-header {
    padding: 10px 12px;
    position: relative;
}

#btnCloseWebphone {
    position: absolute;
    top: 4px;
    right: 8px;
    padding: 8px 14px;
}
.webphone-body {
    padding: 0 10px;
}

/* ///// Phone
*/
#modalWebCall .modal-content {
  width: 350px;
}
#phoneStatus {
  text-align: center;
  color: #6A716A;
}
#phoneKeys {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}
#phoneKeys button {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 4px;
  border-width: 2px;
  border-radius: 50px;
}

#phoneKeysNumbers button {
  color: white;
  background: #3E5163
}
#phoneKeysNumbers .astBtn {
  font-size: 3rem;
  line-height: 3.5rem;
}
#phoneKeysActions {
  margin-left: auto;
}
#phoneKeysActions button {
  display: block;
  margin-bottom: 8px;
}
#phoneOptions {
  text-align: center;
  padding: 10px 0;
}
#phoneOptions #sumTime {
  margin-right: 0;
  margin-bottom: 16px;
}
#phoneOptions .btn-group {
  margin-right: 10px;
  margin-bottom: 18px;
}
#changeCampAssocManualCall {
  width: 260px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.filaCampoNroDiscar {
  margin-top: 2%;
  width: 80%;
  margin-left: 10%;
}

.cuerpoLlamEntrante {
  padding-left: 5%
}
.libreta {
  overflow: scroll;
  height: 140px;
}
.campSelected {
    margin-left: 50px;
  }
  .backgroundWebPhone {
    height: 100%;
    background-color: #2E2E2E;
    box-shadow: 10px 10px 5px grey;
  }
  .title-transfer {
    margin-top: 6px;
  }
  .key {
    margin-top: 2%;
  }
  .filaBotonesDiscar {
    padding-top: 3%;
    margin-left: 12%;
    width: 80%;
    margin-bottom: 1%;
  }
  .filaBotonesDiscar2 {
    padding-top: 3%;
    margin-left: 10%;
    width: 82%;
    margin-bottom: 1%;
  }
  .botonera1 {
    margin-top: 2%;
    margin-left: 10%;
    height: 14px;
  }
  .filaCampoNroDiscar {
    margin-top: 2%;
    width: 80%;
    margin-left: 10%;
  }
  .tituloLlamEntrante {
    color: darkcyan;
    font-size: 18px;
    padding-left: 10%
  }
  .cuerpoLlamEntrante {
    padding-left: 5%
  }
  .libreta {
      overflow: scroll;
    height: 140px;
  }
  #modalTransfer .modal-content {
    left: -60px;
  }

/*
 CSS WILLIAM MORENO REVISAR Y MODIFICAR
*/

#registro_mensajes {
    background-image: url('/static/truecontact/truecontact/img/pattern.jpg');
    background-color:rgba(244,243,243,0.7);
    width: 100%;
    height: 100%;
}
