/* =============================================================================
                            PHONE
============================================================================== */
#phone-circle {
    position: fixed;
    bottom: 30px;
    right: 15px;
    background-color: transparent;
    border-radius: 5px;
    color: #fff;
    padding: 0;
    z-index: 999;
    cursor: pointer;
    box-shadow: none;
    outline: 0;
    /* -webkit-transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    transition: background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    -o-transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1);
    transition: box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1), background-color 0.2s cubic-bezier(0.4, 0, 0.2, 1), color 0.2s cubic-bezier(0.4, 0, 0.2, 1), -webkit-box-shadow 0.2s cubic-bezier(0.4, 0, 1, 1);
    will-change: box-shadow, transform; */
}

#phone-circle i {
    font-size: 20px;
    color: #fff;
    padding: 16px;
    background: #5c1ac3;
    background-image: linear-gradient(to right, #607D8B 0%, #3F51B5 100%);
    border-radius: 50%;
    letter-spacing: 0;
}
#phone-circle.btn:active {
    border-top: 0px solid rgba(0, 0, 0, 0.3);
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}

.phone-box {
    display: none;
    background: #fff;
    position: fixed;
    bottom: 30px;
    right: 15px;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    width: 350px;
    height: 500px;
    max-width: 85vw;
    max-height: 100vh;
    border-radius: 5px;
    z-index: 999;
    -webkit-box-shadow: 0px -1px 10px 0px #b4bbcd;
    -moz-box-shadow: 0px -1px 10px 0px #b4bbcd;
    box-shadow: 0px -1px 10px 0px #b4bbcd;
}
.phone-box-toggle {
    cursor: pointer;
    font-size: 25px;
    color: #d8d8d8;
}

.phone-box-header {
    background-image: linear-gradient(to right, #607D8B 0%, #3f51b5 100%);
    background-blend-mode: overlay;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    color: #fff;
    padding: 10px 15px;
}
.phone-box-header .media .media-body a { color: #fff; font-size: 16px; }
.phone-box-header .media .media-body .nav-pills .nav-link.active {
  color: #3f51b5 ;
  background-color: #d8d8d8;
}

.phone-box-body {
    position: relative;
    height: auto;
    overflow: hidden;
}

.phone-tabs { padding: 15px; height: 420px; overflow-y: scroll; }

#phoneStatus {
  text-align: center;
}

#phoneKeys {
  margin-top: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding: 0 10px 10px 10px;
  border-bottom: 1px solid rgba(0,0,0,0.15);
}

#phoneKeys button {
  width: 50px;
  height: 50px;
  font-size: 1.5rem;
  font-weight: 500;
  margin: 4px;
  padding: 0px;
  border-width: 2px;
  border-radius: 50px;
}

#phoneKeysNumbers button {
  color: #00b1f4;
}
#phoneKeysNumbers .astBtn {
  font-size: 3rem;
  line-height: 3.5rem;
}
#phoneKeysActions {
  margin-left: auto;
}
#phoneKeysActions button {
  display: block;
  margin-bottom: 8px;
}
#phoneOptions {
  text-align: center;
  padding: 10px 0;
}
#phoneOptions #sumTime {
  margin-right: 0;
  margin-bottom: 16px;
}

#phoneOptions .btn-group {
  margin-bottom: 5px;
}

.filaCampoNroDiscar {
  margin: 5% 0 5% 0;
  width: 100%;
}
