#main-left-col {
  display: none;
}

#main-left-col.active{
  display: block;
}

#main-right-col {
  display: none;
}

#main-right-col.active{
  display: block;
}

.info-gestiones {
  display: none;
}

.info-gestiones.active {
  display: block;
}

.info-gestiones .badge:nth-child(1){

  position: absolute;
  top: 0px;
  right: 5px;
  margin-top: 0px!important;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  padding: 0.1em 0.1em 0.1em;
  font-size: 11px;
  color: #fff!important;
}

.info-gestiones .badge:nth-child(2){

  position: absolute;
  top: 20px;
  right: 5px;
  margin-top: 0px!important;
  width: 19px;
  height: 19px;
  border-radius: 50%;
  padding: 0.1em 0.1em 0.1em;
  font-size: 11px;
  color: #fff!important;
}

#profile-image-input{
  display: none;
}

#profile-image-upload {
  cursor: pointer;
}

.profile-image-action {
  cursor: pointer;
}

.profile-img-card{
  width: 200px;
  height: 200px;
  border-radius: 10px;
}

/*
########  CLASES OMNILEADS CSS ############
# tomado de ominicontacto/css/main.css
###########################################
*/

.hidden {
  display: none;
}

/*
    Gestiones Agente Card
*/

.


/*
    Gestiones Nuevas Card
*/




/*---------------Middle Section-------------*/



/*  PRODUCTS
----------------------------*/
.payment-top-section h4.card-title {
  color: #000;
  font-weight: 600;
}
.payment-top-section .p-cards {
  background-color: #fff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 15px 1px rgba(113, 106, 202, 0.1);
}
.payment-top-section .p-cards i { font-size: 50px; }
.payment-top-section .p-cards i.ico-net-bnk { color: #3862f5; }
.payment-top-section .p-cards:hover i.ico-net-bnk { color: #1d1d1d; }
.payment-top-section .p-cards i.ico-c-d-card { color:#07dabf; }
.payment-top-section .p-cards:hover i.ico-c-d-card { color:#1d1d1d; }
.payment-top-section .p-cards i.ico-cash { color: #f8538d; }
.payment-top-section .p-cards:hover i.ico-cash { color: #1d1d1d }
.payment-top-section .p-cards i.ico-paypal { color: #ffbb44; }
.payment-top-section .p-cards:hover i.ico-paypal { color: #1d1d1d }
.payment-top-section .p-cards h5 {
  color: #3b3f5c;
  font-weight: 600;
  margin-bottom: 12px;
}
.payment-top-section .p-cards:hover h5 { color: #1d1d1d; }
.payment-top-section .p-cards h5.txt-net-bnk { color: #3862f5; font-weight: 600; }
.payment-top-section .p-cards:hover h5.txt-net-bnk { color: #1d1d1d; }
.payment-top-section .p-cards h5.txt-c-d-card { color: #07dabf; font-weight: 600; }
.payment-top-section .p-cards:hover h5.txt-c-d-card { color: #1d1d1d; }
.payment-top-section .p-cards h5.txt-cash { color: #f8538d; font-weight: 600; }
.payment-top-section .p-cards:hover h5.txt-cash { color: #1d1d1d; }
.payment-top-section .p-cards h5.txt-paypal { color: #e9b02b; font-weight: 600; }
.payment-top-section .p-cards:hover h5.txt-paypal { color: #1d1d1d; }
.dataTables_filter input {
  margin-left: 5px;
  border-radius: 30px;
  padding-bottom: 5px;
  padding-top: 5px;
  border: solid 1px #d5dae2;
}
div.dataTables_length label{ color: #3232b7; }
.table > thead > tr > th { color: #000; }
.table > thead > tr > th:hover {
  color: #3232b7;
  border-bottom: solid 1px #3232b7;
}
.table thead th {
  vertical-align: bottom;
  border-bottom: 1px solid #888ea88a;
}
.table-bordered td { border: 1px solid #888ea81f; }
td { color: #515365; }
.table-hover tbody tr:hover > td, .table-hover tbody tr:hover > th { color: #3862f5; }
.table-striped tbody tr:nth-of-type(odd) { background-color: #ffffff; }
.table-striped tbody > tr:nth-child(odd) > td { background-color: #ffffff; }
.table > tbody > tr > td {
  padding: 11px 14px;
  font-size: 14px;
}
.table-checkable .checkbox-column div.checker { margin-right: 5px; }
.table-hover tbody tr:hover {
  background-color: rgb(255, 255, 255);
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
#ecommerce-product-view_paginate .pagination>.active>a {
  background-color: #3b3f5c;
  border-color: #3b3f5c;
  color: #fff;
  border-radius: 4px;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
div#ecommerce-product-view_paginate .page-link:focus { box-shadow: none; }
#ecommerce-product-view_paginate ul.pagination li a:hover:not(.active) {
  background-color: #3862f5;
  color: #fff;
  border-radius: 4px;
  will-change: opacity, transform;
  transition: all 0.3s ease-out;
  -webkit-transition: all 0.3s ease-out;
}
/* end payments ----------------------- */

/* datatables ---------- */
.product-list-img img { border-radius: 14px; }
.table-striped tbody > tr:nth-child(odd) > td { background-color: #ffffff; }
div.dataTables_length label{ color: #3232b7; }
.dataTables_filter input {
    position: relative;
    margin-left: 5px;
    border-radius: 30px;
    padding-bottom: 5px;
    padding-top: 5px;
    border: solid 1px #d5dae2;
}
.product-list-img {
    background: transparent;
    border: none;
}
.table thead th {
    vertical-align: bottom;
    border-bottom: 1px solid #888ea88a;
}
.table-bordered td {
    border: 1px solid #888ea81f;
    vertical-align: middle;
}
table td i.flaticon-cart-bag-1 {
    font-size: 28px;
    color: #1a73e9;
}
table td i.flaticon-cart-bag {
    font-size: 28px;
    color: #e7515a;
}
table td ul.table-controls i {
    font-size: 19px;
    color: #d3d3d3
}
.table tbody tr { color: #515365; }
.table tbody tr:hover { color: #000; }
.table tbody tr td:last-child { border-right: solid 2px transparent; }
.table tbody tr:hover td:last-child { border-right: solid 2px #3232b7; }
.table > thead > tr > th { color: #000; }
.dataTables_wrapper.dt-bootstrap4 .table > thead > tr > th:hover {
    color: #3232b7;
    border-bottom: solid 1px #3232b7;
}
.table-responsive > .dataTables_wrapper .row:nth-child(2) > .col-sm-12:first-child { margin-top: 3.5rem; }
#ecommerce-product-list_paginate .pagination>.active>a {
    background-color: #3b3f5c;
    border-color: #3b3f5c;
    color: #fff;
    border-radius: 4px;
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
div#ecommerce-product-list_paginate .page-link:focus { box-shadow: none; }
#ecommerce-product-list_paginate ul.pagination li a:hover:not(.active) {
    background-color: #3862f5;
    color: #fff;
    border-radius: 4px;
}
#ecommerce-product-list_paginate .table-hover tbody tr:hover {
    background-color: rgb(255, 255, 255);
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
div#ecommerce-product-list_paginate ul.pagination li.previous i { vertical-align: middle; }
div#ecommerce-product-list_paginate ul.pagination li.next i { vertical-align: middle; }

/* end datatables------- */

/* ad eddit product --------*/
.row .col-lg-12 .widget .widget-header h4 { color: #000; }
.add-manage-product-1 form.form-horizontal { padding: 65px; }
.add-manage-product-1 .product-img img { width: 110px; }
.add-manage-product-1 .thumbs-img img { width: 50px; }
.add-manage-product-1 .thumbs-img .file-input .flaticon-add-button {
    font-size: 16px;
    font-weight: 600;
}
.add-manage-product-1 .thumbs-img .file-input {
    display: -webkit-inline-box;
    display: -webkit-inline-flex;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: 50px;
    width: 50px;
    background-color: #f1f2f3;
    color: #4f5163;
    border: 1px dashed;
}
.add-manage-product-1 .thumbs-img .file-input input[type="file"] {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    z-index: 99999;
    width: 50px;
    height: 50px;
}
.align-center {
    text-align: right;
    margin: 0 auto;
}
.form-horizontal .form-group label span {
    font-weight: 600;
    font-size: 17px;
    color: #ee3d50;
    text-transform: uppercase;
    border-bottom: solid 1px;
}
.checkbox input[type="checkbox"] { margin-right: 10px; }
.add-manage-product-1 .btn, .add-manage-product-2 .btn {
    color: #fff;
    background-color: #3232b7;
    border-color: #3232b7;
    border-radius: 30px;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.2);
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.form-control:hover {
    background-color: #fff;
    color: #3232b7;
    box-shadow: 0px 5px 20px 0 rgba(0, 0, 0, 0.2);
    will-change: opacity, transform;
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
}
.btn:not(:disabled):not(.disabled):active {
    color: #fff;
    background-color: #24ccda;
    border-color: #24ccda;
}
.card {
    margin-bottom: 20px;
    background-color: transparent;
}
.card-default > .card-heading {
    color: #ffffff;
    padding: 10px 15px;
    background-color: #5247bd;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    border-bottom: 1px solid #ffffff;
}
.card-title {
    margin: 0px;
    font-size: 18px;
    font-weight: 500;
}
.form-horizontal .form-group label {
    font-size: 16px;
    color: #3b3f5c;
}
.form-horizontal .form-group .input-group .custom-file input[type="file"] { cursor: pointer; }
.form-horizontal .form-group .input-group .custom-file label {
    cursor: pointer;
    z-index: 999;
}
.checkbox > div.checker { margin-top: -4px; }
.cutom-autocomplete { height: 150px; }
.ui-menu {
    height: 150px!important;
    overflow-x: hidden;
    overflow-y: scroll;
}

@media(max-width: 575px) {
    .add-manage-product-1 form.form-horizontal { padding: 65px 0;  }
}
/* end add/edit product ---*/

/*
===================

     Invoice

===================
*/

.invoice .widget-content-area.head-section { padding: 20px 40px 20px 40px; }
.invoice h3.in-heading {
    font-size: 24px;
    font-weight: 500;
    color: #323332;
    margin: 0;
    line-height: 1;
}
.invoice .widget-content-area { padding: 40px; }
.invoice .invoice-top-section { border-bottom: 1px solid #e9ecef; }
.invoice h5.invoice-info-title {
    font-size: 20px;
    font-weight: 500;
    color: #000;
    margin: 0 0 5px;
    line-height: 1;
}
.invoice .invoice-serial-number {
    font-size: 17px;
    color: #816cfd;
}
.invoice .invoice-order-status, .invoice .invoice-order-date {
    font-size: 14px;
    color: #515365;
    margin: 0 0 5px;
}

/*    invoice-form    */

.invoice .invoice-from { font-size: 14px; margin: 0 0 5px; }
.invoice .invoice-from .invoice-from-title {
    font-size: 15px;
    font-size: 19px;
    color: #3b3f5c;
}
.invoice .invoice-from p {
    margin-bottom: 0;
    color: #515365;
    font-size: 14px;
}


/*    invoice-to    */

.invoice .invoice-to {
    font-size: 14px;
    margin: 0 0 5px;
}
.invoice .invoice-to .invoice-to-title {
    font-size: 15px;
    font-size: 19px;
    color: #3b3f5c;
    margin: 0 0 5px;
}
.invoice .invoice-to p {
    margin-bottom: 0;
    color: #515365;
    font-size: 14px;
}
.invoice .table .thead-light th {
    font-size: 17px;
    background-color: #e7ebf3;
    border-color: #f1f3f1;
    color: #6156ce;
    font-weight: normal;
}
.invoice .table > tbody > tr > td {
    font-size: 15px;
    color: #515365;
    border-top: none;
    border-bottom: solid 1px #e9ecef;
    padding: 17px;
}
.invoice .invoice-total-amounts p {
    font-size: 16px;
    color: #515365;
    margin-right: 5px;
}
.invoice .invoice-total-amounts h4 {
    font-size: 18px;
    color: #323332;
    font-weight: 600;
}


@media print {
    .crumbs, .page-header, #sidebar, .invoice .buttons { display: none }
    #content {
        margin-left: 0!important;
        margin-right: 0!important;
        width: 100%!important
    }
}

/*
    PERSONALIZADAS tablas de agente bonitas
    User Profile Card 3
*/

#user-profile-card-3.card { border: none; }
#user-profile-card-3.card .card-header {
    background-color: transparent;
    border-bottom-color: #e9ecef;
}
#user-profile-card-3.card .card-header h6 {
    font-weight: 600;
    color: #1d1d1d;
    font-size: 16px;
}
#user-profile-card-3.card .card-header ul.badge-collapsed-img li img { width: 33px; height: 33px; }
#user-profile-card-3.card .card-header ul li.badge-notify { position: relative; }
#user-profile-card-3.card .card-header ul li.badge-notify .notification {
    position: absolute;
    top: -15px;
    right: -34px;
}
#user-profile-card-3.card .card-header ul li.badge-notify .notification .badge {
    font-size: 10px;
    padding: 5px 6px;
    background-color: #e95f2b;
}
#user-profile-card-3.card .card-body .usr-img-meta img {
    width: 93px;
    height: 93px;
}
#user-profile-card-3.card .card-body .usr-info-meta h5 {
    color: #3b3f5c;
    font-size: 21px;
    font-weight: 600;
}
#user-profile-card-3.card .card-body .usr-info-meta p {
    color: #e95f2b;
    font-weight: 600;
}
#user-profile-card-3.card .card-body .profile-task-progress .progress {
    width: 150px;
    height: 8px;
    border-radius: 30px;
    margin-top: 1.3rem;
}
#user-profile-card-3.card .card-body .profile-task-progress .progress .progress-bar {
    border-radius: 30px;
    background-color: #e95f2b!important;
}
#user-profile-card-3.card .card-body .profile-task-percentage .p-t-p-txt {
    font-size: 14px;
    font-weight: 600;
    color: #1f25e6;
}
#user-profile-card-3.card .card-body .profile-task-percentage .p-t-p-value {
    color: #3b3f5c;
    font-weight: 600;
}
#user-profile-card-3.card .card-body .profile-task-percentage .p-t-p-percentage {
    color: #1abc9c;
    font-weight: 600;
    font-size: 14px;
}
#user-profile-card-3.card .card-body button { padding: 5px 18px; }


/*  */
/* PERSONALIZADAS PARA CORDIONS BONITOS */
/*  */

.dropcap:first-letter {
    font-size: 3em;
    float: left;
    margin-top: .15em;
    padding: 2px 20px;
    border: 1px solid #4073ff;
    border-radius: 6px;
    margin-right: 15px;
}
.img-fluid {
    border-radius: 4px;
}
.accordion > .frame.active > .heading {
    background-color: #989ebf;
    border-color: #989ebf;
}
.accordion > .frame > .heading {
    background-color: #f1f3f3;
}
h5 {
    font-size: 15px;
}
.card {
    border: 1px solid #f1f3f1;
}

.card-header {
    padding: 0;
}
.card-header h5 > span {
    padding: .75rem 1.25rem;
    cursor: pointer;
    display: block;
}


.simple-accordion-content .card-header {
    background-color: #e6ecf5;
    color: #3b3f5c;
    border-color: transparent;
}
.media img {
    border-radius: 4px;
    width: 70px;
    height: 70px;
}
.card-body h4.mb-4 {
    color: #6156ce;
    font-size: 18px;
}
.between-space-content .card-header {
    border-color: transparent;
    background-color: #3862f5;
    color: #fff;
}

.icon-accordion-content .card-header {
    background-color: #ffffff;
    background-color: #3862f5;
    color: #fff;
}


.icon-change-content .card-header {
    background-color: #ffffff;
    color: #f8538d;
    border-color: transparent;
}
i.float-right.flaticon-caret-up {
    color: #f8538d;
}

.toggle-false-content .card-header {
    background-color: #ffffff;
    color: #5247bd;
    border-color: transparent;

}
.toggle-false-content .card-body {
    background-color: #e6ecf5;
    color: #3b3f5c;
}

.creative-accordion-content .card-header {
    background-color: #816cfd;
    color: #ffffff;
    border-color: transparent;
}
.creative-accordion-content #creativeCollapseOne .card-body h4 {
    color: #e95f2b;
}
.creative-accordion-content #creativeCollapseThree .card-body h4 {
    color: #e95f2b;
}
.creative-accordion-content #creativeCollapseOne .card-body {
    color: #494949;
}
.creative-accordion-content #creativeCollapseTwo .card-body {
    color: #494949;
}
.creative-accordion-content #creativeCollapseThree .card-body {
    color: #494949;
}





/*  Small Accordion       */

.small-accordion-content .card-header {
    background-color: #efefef;
    color: #0081e6;
    border-color: transparent;
}

.small-accordion-content .card-header h5 > div {
    padding: 8px 16px 8px 20px;
    cursor: pointer;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    position: relative;
    overflow: hidden;
    z-index: 2;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    transition: all 0.3s ease;
}

.small-accordion-content #smallCollapseOne .card-body h4 {
    color: #e95f2b;
}
.small-accordion-content #smallCollapseThree .card-body h4 {
    color: #e95f2b;
}

.small-accordion-content #smallCollapseOne .card-body {
    color: #494949;
}

.small-accordion-content #smallCollapseTwo .card-body {
    color: #494949;
}

.small-accordion-content #smallCollapseThree .card-body {
    color: #494949;
}



/*  Creative Accordion       */

.creative2-accordion-content #creativeAccordion .card {
    background-color: #e9ecef;
    color: #fff;
    border: none;
    border-radius: 0;
}
.creative2-accordion-content .card-header {
    background-color: #f1f3f0;
    color: #fff;
    border: none;
}

.creative2-accordion-content .card-header h5 > span {
    padding: 0 2px 0 0;
    color: #020333;
}
.creative2-accordion-content .card-header h5 .icon {
    display: inline-flex;
    padding: 15px 8px;
    color: #fff;
    background-color: #07e0c4;
    border-bottom-left-radius: 4px;
    border-top-left-radius: 4px;
}
.creative2-accordion-content .card-header h5 span.text {
    
}

.creative2-accordion-content #creative2CollapseOne .card-body h4 {
    color: #e95f2b;
}

.creative2-accordion-content #creative2CollapseThree .card-body h4 {
    color: #e95f2b;
}
.creative2-accordion-content #creative2CollapseOne .card-body {
    color: #494949;
    background-color: #fff;
}
.creative2-accordion-content #creative2CollapseTwo .card-body {
    color: #494949;
    background-color: #fff;
}
.creative2-accordion-content #creative2CollapseThree .card-body {
    color: #494949;
    background-color: #fff;
}



/*  Creative Accordion       */

.creative3-accordion-content #creative3Accordion .card {
    background-color: #eaedf2;
    color: #fff;
    border: none;
    border-radius: 6px;
    border-top: 1px solid #eaedf2;
    margin-bottom: 3px;
}
.creative3-accordion-content .card-header {
    color: #fff;
    border: none;
}

.creative3-accordion-content  #creative3Accordion .card:last-child {
    border-bottom: 1px solid #e9ecef;
}
.creative3-accordion-content .card-header h5 > span {
    padding: 1.35rem 1.25rem;
    color: #3b3f5c;
}
.creative3-accordion-content .card.c-1 {
    background-color: #3b3f5c!important;
    color: #fff;
}
.creative3-accordion-content .card.c-1 .card-header h5 > span {
    color: #fff;
}


.creative3-accordion-content .card-header h5 .icon {
    display: inline;
    padding: 11px;
    background-color: #020333;
    margin-right: 20px;
    color: #fff;
}
.creative3-accordion-content #creative3CollapseOne .card-body h4 {
    color: #e95f2b;
}

.creative3-accordion-content #creative3CollapseThree .card-body h4 {
    color: #e95f2b;
}

.creative3-accordion-content #creative3CollapseOne .card-body {
    color: #3b3f5c;
    background-color: #fff;
}
.creative3-accordion-content #creative3CollapseTwo .card-body {
    color: #3b3f5c;
    background-color: #fff;
}
.creative3-accordion-content #creative3CollapseThree .card-body {
    color: #3b3f5c;
    background-color: #fff;
}






/*     Pure CSS3 Hover Accordion      */

.accordion{
    background-color: #fff;
}
.single-accordion{
    height: 35px;
    overflow: hidden;
    background: #ebedf2;
    color: #3b3f5c;
    margin-bottom: 5px;
    padding: 0px 10px;
    border-radius: 2px;
    -webkit-transition: all 1s;
}
.single-accordion:hover{
    height: 165px;
    border-radius: 10px;
    -webkit-transition: all 1s;
}
.single-accordion h3:hover{
    cursor: pointer;
}
.single-accordion h3{
    color: #fff;
    font-size: 22px;
    font-variant: small-caps;
    line-height: 0px;
    margin-top: 16px;
    margin-bottom: 10px;
}
.single-accordion p{
    line-height: 25px;
    color: #515365;
    text-align: justify;
    font-size: 0.8rem;
}
@-moz-document url-prefix() {
    .dropcap:first-letter {
        padding: 20px 23px;
    }
}
@media(max-width: 767px) {
    .single-accordion h3 {
        font-size: 14px;
    }
    .single-accordion p {
        line-height: 22px;
        text-align: initial;
        padding: 5px;
        font-size: 12px;
    }

}